* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.marge {
  padding: 0vh 5vh;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 4vh 8vh;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4vh;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5vh;
  position: relative;
  padding-bottom: 5px;
}

nav .logo img {
  height: 26vh;
  align-self: center;
}

nav .burger {
  display: none;
}

/* -------------------- */
/*      HEADER          */
/* -------------------- */

header {
    margin-top: 15vh;
    height: 80vh;
    padding: 0vh 20vh 5vh;
  h1 {
    color: #ffffff;
    padding: 3vh 0vh;
    font-family: "Irish Grover", system-ui;
    font-size: xxx-large;


  }

  p {
    color: #0600c0;
    padding-bottom: 2vh;
  }
}

/*   FORMULAIRE GLOBAL */


.form-ligne {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Ligne pleine largeur (Sujet et Bouton) */


.form-row.full {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

/* Lignes avec 2 champs côte à côte */
.form-row {
  display: flex;
  gap: 20px;
}

/* Chaque champ */
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1; /* prend la moitié de la ligne */
}

.form-group label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
}

.form-group input,
.form-group textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff52;
  padding: 4px;
  color: #ffffff;
  font-size: 15px;
  outline: none;
  width: 100%;
}

/* Focus */
.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 1px solid #ffffff;
}

/* Bouton */
.form-row.full button {
  padding: 12px;
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Irish Grover", system-ui;
  cursor: pointer;
}


.form-row.full button:hover {
  opacity: 0.8;
}
 
// Reseaux

.reseaux{
    padding: 5vh;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    font-family: "Irish Grover", system-ui;

    h2{
        justify-self: center;
        color: #ffffff;
        padding-bottom: 3vh;
        font-weight: 600;

    }
    .iconesReseaux{
        justify-self: center;
        i{
            font-size: 4vh;
            padding: 2vh;
            color: #ffffff;
        }
    }
}

// Maps

.localisation{
    place-self: center;
    padding: 5vh;
    margin-bottom: 15vh;
    margin-top: 5vh;
}

.map-wrapper {
  display: inline-block;       // taille de l’image
  position: relative;          // pour pouvoir placer le pseudo derrière

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;      // carré responsive
    border-radius: 47px;       // arrondi
    background: #ffffff;       // blanc
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;               // derrière l’image
  }

  .map-image {
    display: block;
    width: 35vh;               // responsive
    border-radius: 65px;       // optionnel : arrondir l’image
  }
}



/* -------------------- */
/*        FOOTER        */
/* -------------------- */

.footer {
  background-color: #000;
  color: #ededed;
  height: 60vh;

  .footerTitre {
    font-family: 'Irish Grover';
    font-size: 5vh;
  }

  .footerPart1Container {
    display: flex;
    justify-content: space-between;
    height: 85%;

    .footerPart1Logos {
      width: 30%;

      img {
        width: 80%;
        height: 80%;
      }

      .footerRS {
        width: 80%;
        display: flex;
        justify-content: space-between;

        i {
          font-size: 5vh;
          padding: 2vh 0;
          object-fit: cover;
        }
      }
    }

    .footerPart1Contact {
      width: 30%;

      p {
        padding: 2vh 0;
      }
    }

    .footerPart1Newsletter {
      width: 30%;

      p {
        padding: 2vh 0;
      }

      .newsletterEmail {
        height: 5vh;
        width: 80%;
      }
    }
  }

  .ligne {
    background-color: rgba(#ededed, 0.3);
    height: .2vh;
    width: 100%;
    margin: 3vh 0;
  }

  .footerPart2Container {
    display: flex;
    justify-content: end;
  }
}


// tablette 

@media screen and (max-width: 768px) and (min-width: 426px) {
    header {
        height: 100vh;
        margin: 0vh 5vh;
    }
}

/* -------------------- */
/*       MOBILE         */
/* -------------------- */

@media screen and (max-width: 426px) {

  /* NAVIGATION */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 3vh;
    height: auto;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      width: 100%;
      text-align: center;
      padding: 1vh 0;
      background: black;
    }

    .logo {
      margin: 2vh 0;

      img {
        height: 10vh;
      }
    }

    li a {
      font-size: 1rem;
      color: white;
      text-decoration: none;
    }
  }

  /* HEADER */
  header {
        margin-top: 15vh;
        height: 60vh;
        padding: 0vh 3vh 0vh;
  h1 {
    color: #ffffff;
    padding: 1vh 0vh;
    font-family: "Irish Grover", system-ui;
    font-size: xx-large;

  }

  p {
    color: #4e1b1b;
    padding-bottom: 2vh;
  } 
}

/*   FORMULAIRE GLOBAL */

.form-ligne {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.form-ligne label {
  font-size: 14px;
  color: #ffffff;
}

.form-ligne input,
.form-ligne textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff52;
  padding: 1px 4px;
  color: #ffffff;
  font-size: 15px;
  outline: none;
  width: 100%;
}

.form-ligne input:focus,
.form-ligne textarea:focus {
  border-bottom: 1px solid #ffffff;
}

.form-ligne button {
  margin-top: 10px;
  padding: 12px;
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Irish Grover", system-ui;
  cursor: pointer;
}

.form-ligne button:hover {
  opacity: 0.8;
}

// Reseaux

.reseaux{
    padding: 5vh;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;


    h2{
        justify-self: center;
        color: #ffffff;
        padding-bottom: 3vh

    }
    .iconesReseaux{
        justify-self: center;
        i{
            font-size: 4vh;
            padding: 2vh;
            color: #ffffff;
        }
    }
}

// Maps

.localisation{
    place-self: center;
    padding: 5vh;
    margin-bottom: 0vh;

}

.map-wrapper {
  display: inline-block;       // taille de l’image
  position: relative;          // pour pouvoir placer le pseudo derrière

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;      // carré responsive
    border-radius: 47px;       // arrondi
    background: #ffffff;       // blanc
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;               // derrière l’image
  }

  .map-image {
    display: block;
    width: 100%;               // responsive
    border-radius: 65px;       // optionnel : arrondir l’image
  }
}

  /* FOOTER MOBILE */
  .footer {
    background-color: #000;
    color: #ededed;
    height: auto;
    padding: 5vh 3vh;

    .footerTitre {
      font-family: 'Irish Grover';
      font-size: 4vh;
      text-align: center;
      margin-bottom: 1vh;
    }

    .footerPart1Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vh;

      .footerPart1Logos {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        img {
          width: 60%;
          height: auto;
        }

        .footerRS {
          display: flex;
          justify-content: space-around;
          width: 50%;
          margin-top: 1vh;

          i {
            font-size: 3vh;
          }
        }
      }

      .footerPart1Contact,
      .footerPart1Newsletter {
        width: 90%;
        text-align: center;
        font-size: 1.5vh;
        margin-top: 1vh;

        p {
          padding: 1vh 0;
        }

        .newsletterEmail {
          width: 100%;
          height: 4.5vh;
          padding: 0.5vh;
          border-radius: 0.3rem;
          border: 1px solid #ccc;
        }
      }
    }

    .ligne {
      background-color: rgba(237, 237, 237, 0.3);
      height: 0.2vh;
      width: 90%;
      margin: 3vh 0;
    }

    .footerPart2Container {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1rem;
      margin-bottom: 2vh;
    }
  }
}
