// FONTS IRISH GROVER & MONTSERRAT ALTERNATES
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//  RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.marge{
    padding: 5vh 5vw;
}

h2{
  font-family: 'Irish Grover';
  font-size: 6vh;
  text-align: center;
}

body {
  background-color: #ededed;
  font-family: 'Montserrat Alternates';
}

header{
  nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 4vh 8vh;
    overflow: hidden;
    ul {
      list-style: none;
      display: flex;
      gap: 4vh;
      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 2.5vh;
          position: relative;
          padding-bottom: 5px;
        }
      }
    }
    .logo{
      img{
        height: 26vh;
        align-self: center;
      }
    }
  }
  .headerImg{
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SECTION TENDANCES
.tendances{
  background-color: #ededed;
  height: 100vh;
  .container{
    display: flex;
    flex-direction: column;
    h2{
      padding-bottom: 20vh;
    }
    .tendancesBody{
      display: flex;
      .ligne{
        background-color: #000000;
        width: .2vh;
        height: 65vh;
      }
      .tendancesPart{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 3vh;
        p{
          font-size: 5vh;
          padding-bottom: 3vh;
          text-align: center;
        }
        .tendancesCategories{
          display: flex;
          height: 50vh;
          img{
            width: 90%;
            height: 90%;
            object-fit: cover;
          }
          p{
            font-size: 3.5vh;
          }
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SECTION QSN
.qsn{
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .qsnBody{
    display: flex;
    align-items: center;
    height: 75%;
    img{
      height: 90%;
      width: 50%;
      object-fit: cover;
      object-position: 0% 20%;
    }
    .qsnTextContainer{
      height: 90%;
      padding: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SECTION COLLECTIONHIVER
.collectionHiver{
  background-image: url(../img/collecHiver.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  margin: 5vh 5vw;
  display: flex;
  align-items: end;
  justify-content: center;
  .collectionHiverBody{
    text-align: center;
    margin-bottom: 10vh;
    p{
        font-size: 10vh;
        color: #B0ECF2;
        -webkit-text-stroke:  1px #000;
        padding: 3vh;
    }
    .collectionHiverLien{
      font-size: 5vh;
      color: #000;
      background-color: rgba(#ededed, 0.5);
      padding: 1.5vh 3vw;
      border-radius: 4vh;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SECTION ACTUALITES

.actualites{
  background-color: aquamarine;
  height: 100vh;
  .actualitesHeader{
  font-family: 'Irish Grover';
  font-size: 6vh;
  text-align: center;
  margin-bottom: 5vh;
  }
  .actualitesBody{
    background-color: burlywood;
    height: 85%;
    .actualitesCasesLigne{
      background-color: brown;
      height: 50%;
      display: flex;
      justify-content: space-between;
      .actualitesCase{
        background-color: blueviolet;
        overflow: hidden;
        img{
          position:relative;
          width: 100%;
          padding: 2vh;
          height: auto;
          z-index: 1;
        }
        .actualitesTitreDateContainer{
          position: absolute;
          z-index: 2;
          background-color: brown;

        }
        
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SECTION FOOTER
.footer{
  background-color: #000;
  color: #ededed;
  height: 60vh;
  .footerTitre{
    font-family: 'Irish Grover';
    font-size: 5vh;
  }
  .footerPart1Container{
    display: flex;
    justify-content: space-between;
    height: 85%;
    .footerPart1Logos{
      width: 30%;
      img{
        width:80%;
        height: 80%;
      }
      .footerRS{
        width: 80%;
        display: flex;
        justify-content: space-between;
        i{
          font-size: 5vh;
          padding: 2vh 0;
          object-fit: cover;
        }
      }
    }
    .footerPart1Contact{
      width: 30%;
      p{
        padding: 2vh 0;
      }
    }
    .footerPart1Newsletter{
      width: 30%;
      p{
        padding: 2vh 0;
      }
      .newsletterEmail{
        height: 5vh;
        width: 80%;
      }
    }
  }
  .ligne{
    background-color: rgba(#ededed, 0.3);
    height: .2vh;
    width:100%;
    margin: 3vh 0;
  }
  .footerPart2Container{
    display: flex;
    justify-content: end;
  }
}
