*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 4vh 8vh;
    overflow: hidden;
    ul {
      list-style: none;
      display: flex;
      gap: 4vh;
      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 2.5vh;
          position: relative;
          padding-bottom: 5px;
        }
      }
    }
    .logo{
      img{
        height: 26vh;
        align-self: center;
      }
    }
  }

header{
  position: relative; 
  height: 90vh;     
  width: 100%;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-color: #9DC1CC;
  .divHeader{
    height: 100%;
    overflow: hidden;

    .rond {
        position: relative;
        bottom: -9.5vh;
        left: 50%;
        transform: translateX(-50%);
        width: 90vh;
        height: 90vh;
        background: #ffffff;
        border-radius: 50%;
    }
    h1{
      font-family: "Irish Grover", system-ui;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(0, 0, 0);
      font-size: 18vh;
      text-align: center;
      z-index: 2;
      width: max-content;
    }
    img {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43.5%;
    height: auto;
    object-fit: cover;
    z-index: 3;        
  }
  }
};

.banniere {
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  position: relative; // pour que le texte se déplace
  z-index: 2;


  p {
    display: inline-block;
    position: relative;
    left: 0; // position initiale
    margin: 0;
  }
}

.sectiongenre {
  display: flex;
  gap: 2vh;
  margin: 5vh;
  justify-content: center;


  .sectionFemme, .sectionHomme {
    display: flex;
    gap: 2vh;
  }

  .artFemme, .artHomme {
    border-radius: 1rem;
    overflow: visible; // permet au contenu de dépasser
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      position: relative;
      width: auto;
      height: auto;
      max-width: none;
      max-height: none;
    }
  }

  // Images F1 et F2
  .artFemme:nth-child(1) img {
    top: -71px;
    left: 1rem;
    height: 129%;
    width: auto;
  }
  .artFemme:nth-child(2) img {
    width: auto;
    height: 111%;
    top: -27px;
    left: 0;
  }

  // Images H1 et H2
  .artHomme:nth-child(1) img {
    width: auto;
    top: -24px;
    left: -6rem;
    height: 120%;
  }
  .artHomme:nth-child(2) img {
    width: auto;
    top: 9px;
    left: 83px;
    object-fit: cover;
    height: 132%;
  }
}




.sectiongenre{
  background-color: #0d0d0d;
  display: flex;
  margin-top: 18vh;
  margin-bottom: 5vh;

    .sectionFemme{
      display: flex;
      gap: 2vh;
      margin: 5vh;
      .artFemme{
        background-color: #D9D9D9;
        width: 18rem;
        height: 31rem;
        border-radius: 5vh;
      }
    }
    .sectionHomme{
      display: flex;
      gap: 2vh;
      flex-direction: column;
      margin-top: 5vh;


      .artHomme{
        background-color: #D9D9D9;
        width: 27rem;
        height: 15rem;
        border-radius: 5vh;
      }
    }

}

.collection{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5vh 8vh;
  h2{
    font-size: -webkit-xxx-large;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 3vh;
  }
  .btnP{
    display: flex;
    align-items: center;

    button{
      border: 0.5vh solid black;
      width: 20rem;
      height: 3rem;    
      margin-right: 2vh;
    }
    .button:active {
        transform: scale(0.9) rotate(2deg);
        background: #000000;
        color: #ffffff;
      }
    p{
      font-size: smaller;
    }
  }
  .imgCollection{
    display: flex;
    gap: 2vh;
    article{
      background-color: #D9D9D9;
       width: 12rem;
      height: 15rem;
      background-color: #D9D9D9;
      margin: 5vh 2vh;
      overflow: hidden;

       img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      }
    }
  }
}

.vetement{
  background-color: black;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 5vh;
    align-items: center;
    padding: 0vh 8vh;
  video{
    height: 33rem;
    width: 85rem;
  }
  .videoTextVetement{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    h2{
      font-size: xxx-large;
      width: 51vh;
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;

    }
    p{
      font-family: 'Montserrat Alternates';

    }
  }
}


// pour tablettes
@media screen and (max-width: 1024px) and (min-width: 768px) {
  
  nav {
    flex-direction: column;
    height: auto;
    padding: 2vh 4vh;

    ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2vh;
    }

    .logo img {
      height: 15vh; // réduction de taille
      margin: 1vh 0;
    }
  }

  header {
    height: 60vh;

    .divHeader {
      .rond {
        width: 50vh;
        height: 50vh;
        bottom: -5vh;
      }

      h1 {
        font-size: 10vh;
        top: 15%;
      }

      img {
        width: 49.5%;
        top: 35%;
      }
    }
  }

  .banniere {
    font-size: 1.2rem;
    height: 50px;
    p {
      left: 0;
    }
  }

  .sectiongenre {
    flex-direction: column;
    margin: 2vh;

    .sectionFemme,
    .sectionHomme {
      flex-direction: row;
      justify-content: center;
      gap: 2vh;
    }

    .artFemme, .artHomme {
      width: 90%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
      }
    }
  }

  .collection {
    padding: 3vh 2vh;

    h2 {
      font-size: 6vh;
      text-align: center;
    }

    .btnP {
      flex-direction: column;
      gap: 1vh;
      button {
        width: 80%;
        margin-bottom: 1vh;
      }
      p {
        text-align: center;
      }
    }

    .imgCollection {
      gap: 2vh;
      article {
        width: 100%;
        height: auto;
      }
    }
  }

  .vetement {
    flex-direction: column;
    align-items: center;
    padding: 7vh;

    video {
      width: 35%;
      height: auto;
    }

    .videoTextVetement {
      width: 90%;
      h2 {
        font-size: 5vh;
        width: 100%;
        text-align: center;
      }
      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
