* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.marge {
  padding: 0vh 5vh;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 4vh 8vh;
  overflow: hidden;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4vh;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5vh;
  position: relative;
  padding-bottom: 5px;
}
nav .logo img {
  height: 26vh;
  align-self: center;
}
nav .burger {
  display: none;
}

header {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-color: #9DC1CC;
}
header .divHeader {
  height: 100%;
  overflow: hidden;
}
header .divHeader .rond {
  position: relative;
  bottom: -9.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vh;
  height: 90vh;
  background: #ffffff;
  border-radius: 50%;
}
header .divHeader h1 {
  font-family: "Irish Grover", system-ui;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 18vh;
  text-align: center;
  z-index: 2;
  width: -moz-max-content;
  width: max-content;
}
header .divHeader img {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43.5%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

.banniere {
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  position: relative;
  z-index: 2;
}
.banniere p {
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
}

.sectiongenre {
  display: flex;
  gap: 2vh;
  margin: 5vh;
  justify-content: center;
}
.sectiongenre .sectionFemme, .sectiongenre .sectionHomme {
  display: flex;
  gap: 2vh;
}
.sectiongenre .artFemme, .sectiongenre .artHomme {
  border-radius: 1rem;
  overflow: visible;
  background-color: #D9D9D9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectiongenre .artFemme img, .sectiongenre .artHomme img {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}
.sectiongenre .artFemme:nth-child(1) img {
  top: -71px;
  left: 1rem;
  height: 129%;
  width: auto;
}
.sectiongenre .artFemme:nth-child(2) img {
  width: auto;
  height: 111%;
  top: -27px;
  left: 0;
}
.sectiongenre .artHomme:nth-child(1) img {
  width: auto;
  top: -24px;
  left: -6rem;
  height: 120%;
}
.sectiongenre .artHomme:nth-child(2) img {
  width: auto;
  top: 9px;
  left: 83px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 132%;
}

.sectiongenre {
  background-color: #0d0d0d;
  display: flex;
  margin-top: 18vh;
  margin-bottom: 5vh;
}
.sectiongenre .sectionFemme {
  display: flex;
  gap: 2vh;
  margin: 5vh;
}
.sectiongenre .sectionFemme .artFemme {
  background-color: #D9D9D9;
  width: 18rem;
  height: 31rem;
  border-radius: 5vh;
}
.sectiongenre .sectionHomme {
  display: flex;
  gap: 2vh;
  flex-direction: column;
  margin-top: 5vh;
}
.sectiongenre .sectionHomme .artHomme {
  background-color: #D9D9D9;
  width: 27rem;
  height: 15rem;
  border-radius: 5vh;
}

.collection {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5vh 8vh;
}
.collection h2 {
  font-size: -webkit-xxx-large;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 3vh;
}
.collection .btnP {
  display: flex;
  align-items: center;
}
.collection .btnP button {
  border: 0.5vh solid black;
  width: 20rem;
  height: 3rem;
  margin-right: 2vh;
}
.collection .btnP .button:active {
  transform: scale(0.9) rotate(2deg);
  background: #000000;
  color: #ffffff;
}
.collection .btnP p {
  font-size: smaller;
}
.collection .imgCollection {
  display: flex;
  gap: 2vh;
}
.collection .imgCollection article {
  background-color: #D9D9D9;
  width: 12rem;
  height: 15rem;
  background-color: #D9D9D9;
  margin: 5vh 2vh;
  overflow: hidden;
}
.collection .imgCollection article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.vetement {
  background-color: black;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 5vh;
  align-items: center;
  padding: 0vh 8vh;
}
.vetement video {
  height: 33rem;
  width: 85rem;
}
.vetement .videoTextVetement {
  display: flex;
  color: #ffffff;
  flex-direction: column;
}
.vetement .videoTextVetement h2 {
  font-size: xxx-large;
  width: 51vh;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
.vetement .videoTextVetement p {
  font-family: "Montserrat Alternates";
}

.footer {
  background-color: #000;
  color: #ededed;
  height: 60vh;
}
.footer .footerTitre {
  font-family: "Irish Grover";
  font-size: 5vh;
}
.footer .footerPart1Container {
  display: flex;
  justify-content: space-between;
  height: 85%;
}
.footer .footerPart1Container .footerPart1Logos {
  width: 30%;
}
.footer .footerPart1Container .footerPart1Logos img {
  width: 80%;
  height: 80%;
}
.footer .footerPart1Container .footerPart1Logos .footerRS {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer .footerPart1Container .footerPart1Logos .footerRS i {
  font-size: 5vh;
  padding: 2vh 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footerPart1Container .footerPart1Contact {
  width: 30%;
}
.footer .footerPart1Container .footerPart1Contact p {
  padding: 2vh 0;
}
.footer .footerPart1Container .footerPart1Newsletter {
  width: 30%;
}
.footer .footerPart1Container .footerPart1Newsletter p {
  padding: 2vh 0;
}
.footer .footerPart1Container .footerPart1Newsletter .newsletterEmail {
  height: 5vh;
  width: 80%;
}
.footer .ligne {
  background-color: rgba(237, 237, 237, 0.3);
  height: 0.2vh;
  width: 100%;
  margin: 3vh 0;
}
.footer .footerPart2Container {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  header .divHeader .rond {
    width: 75vh;
    height: 75vh;
    bottom: -23vh;
  }
  header .divHeader img {
    position: absolute;
    top: 36.5%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    width: 46.1%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 3;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  nav {
    height: auto;
    padding: 2vh 4vh;
    display: flex;
  }
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
  }
  nav .logo img {
    height: 15vh;
    margin: 1vh 0;
  }
  header {
    height: 60vh;
  }
  header .divHeader .rond {
    width: 50vh;
    height: 50vh;
    bottom: -5vh;
  }
  header .divHeader h1 {
    font-size: 10vh;
    top: 15%;
  }
  header .divHeader img {
    width: 37.5%;
    top: 35%;
  }
  .banniere {
    font-size: 1.2rem;
    height: 50px;
  }
  .banniere p {
    left: 0;
  }
  .sectiongenre {
    flex-direction: column;
    margin: 2vh;
  }
  .sectiongenre .sectionFemme,
  .sectiongenre .sectionHomme {
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
  }
  .sectiongenre .artFemme, .sectiongenre .artHomme {
    width: 90%;
    height: auto;
  }
  .sectiongenre .artFemme img, .sectiongenre .artHomme img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  .collection {
    padding: 3vh 2vh;
  }
  .collection h2 {
    font-size: 6vh;
    text-align: center;
  }
  .collection .btnP {
    flex-direction: column;
    gap: 1vh;
  }
  .collection .btnP button {
    width: 80%;
    margin-bottom: 1vh;
  }
  .collection .btnP p {
    text-align: center;
  }
  .collection .imgCollection {
    gap: 2vh;
  }
  .collection .imgCollection article {
    width: 100%;
    height: auto;
  }
  .vetement {
    flex-direction: column;
    align-items: center;
    padding: 7vh;
  }
  .vetement video {
    width: 35%;
    height: auto;
  }
  .vetement .videoTextVetement {
    width: 90%;
  }
  .vetement .videoTextVetement h2 {
    font-size: 5vh;
    width: 100%;
    text-align: center;
  }
  .vetement .videoTextVetement p {
    font-size: 1rem;
    text-align: center;
  }
  .footer {
    background-color: #000;
    color: #ededed;
    height: auto;
    padding: 5vh 5vw;
  }
  .footer .footerTitre {
    font-family: "Irish Grover";
    font-size: 4.5vh;
    text-align: center;
    margin-bottom: 1vh;
  }
  .footer .footerPart1Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
  }
  .footer .footerPart1Container .footerPart1Logos {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  .footer .footerPart1Container .footerPart1Logos img {
    width: 80%;
    height: auto;
  }
  .footer .footerPart1Container .footerPart1Logos .footerRS {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1vh;
  }
  .footer .footerPart1Container .footerPart1Logos .footerRS i {
    font-size: 4vh;
  }
  .footer .footerPart1Container .footerPart1Contact,
  .footer .footerPart1Container .footerPart1Newsletter {
    width: 35%;
    text-align: left;
    font-size: 2vh;
  }
  .footer .footerPart1Container .footerPart1Contact p,
  .footer .footerPart1Container .footerPart1Newsletter p {
    padding: 1vh 0;
  }
  .footer .footerPart1Container .footerPart1Contact .newsletterEmail,
  .footer .footerPart1Container .footerPart1Newsletter .newsletterEmail {
    width: 100%;
    height: 5vh;
    padding: 0.5vh;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
  .footer .ligne {
    background-color: rgba(237, 237, 237, 0.3);
    height: 0.2vh;
    width: 100%;
    margin: 3vh 0;
  }
  .footer .footerPart2Container {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 1rem;
    margin-bottom: 2vh;
  }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
  header .divHeader .rond {
    width: 50vh;
    height: 50vh;
    bottom: -15vh;
  }
  header .divHeader img {
    width: 49.5%;
    top: 35%;
  }
}
@media screen and (max-width: 426px) {
  /* NAVIGATION */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 3vh;
    height: auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    background: black;
  }
  nav .logo {
    margin: 2vh 0;
  }
  nav .logo img {
    height: 10vh;
  }
  nav li a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  /* HEADER */
  header {
    height: 55vh;
  }
  header .divHeader .rond {
    width: 45vh;
    height: 45vh;
    bottom: -15vh;
  }
  header .divHeader h1 {
    font-size: 6vh;
    top: 18%;
    width: 100%;
    text-align: center;
  }
  header .divHeader img {
    width: 70%;
    top: 45%;
  }
  /* BANNIERE */
  .banniere {
    height: 40px;
    font-size: 1rem;
    overflow: hidden;
  }
  .banniere p {
    white-space: nowrap;
    left: 0;
    position: relative;
  }
  .sectiongenre {
    flex-direction: column;
  }
  .sectionFemme .artFemme {
    width: 21rem !important;
    height: 12rem !important;
    border-radius: 3vh !important;
    background-color: #D9D9D9 !important;
    position: relative;
    /* image 1 */
    /* image 2 */
  }
  .sectionFemme .artFemme:nth-child(1) img {
    width: auto;
    height: 128%;
    top: -27px;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .sectionFemme .artFemme:nth-child(2) img {
    width: auto;
    height: 110%;
    top: -10px;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  /* SECTION HOMME */
  .sectionHomme .artHomme {
    width: 20rem !important;
    height: 10rem !important;
    border-radius: 3vh !important;
    background-color: #D9D9D9 !important;
    position: relative;
    align-self: center;
    /* image 1 */
    /* image 2 */
  }
  .sectionHomme .artHomme:nth-child(1) img {
    width: auto;
    height: 120%;
    top: -16px;
    left: -72px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .sectionHomme .artHomme:nth-child(2) img {
    width: auto;
    width: auto;
    height: 126%;
    top: 10px;
    left: 70px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  /* COLLECTION */
  .collection {
    padding: 3vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collection h2 {
    font-size: 4.5vh;
    text-align: center;
  }
  .collection .btnP {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vh;
  }
  .collection .btnP button {
    width: 100%;
    height: 3rem;
    margin-bottom: 1vh;
  }
  .collection .btnP p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1vh;
  }
  .collection .imgCollection {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .collection .imgCollection article {
    width: 100%;
    height: 13rem;
  }
  .collection .imgCollection article img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* VETEMENTS */
  .vetement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 2vh;
  }
  .vetement video {
    width: 100%;
    height: auto;
    border-radius: 1vh;
  }
  .vetement .videoTextVetement {
    width: 100%;
    margin-top: 3vh;
    text-align: center;
  }
  .vetement .videoTextVetement h2 {
    font-size: 4vh;
  }
  .vetement .videoTextVetement p {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
  .footer {
    background-color: #000;
    color: #ededed;
    height: auto;
    padding: 5vh 3vh;
  }
  .footer .footerTitre {
    font-family: "Irish Grover";
    font-size: 4vh;
    text-align: center;
    margin-bottom: 1vh;
  }
  .footer .footerPart1Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .footer .footerPart1Container .footerPart1Logos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }
  .footer .footerPart1Container .footerPart1Logos img {
    width: 60%;
    height: auto;
  }
  .footer .footerPart1Container .footerPart1Logos .footerRS {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 1vh;
  }
  .footer .footerPart1Container .footerPart1Logos .footerRS i {
    font-size: 3vh;
  }
  .footer .footerPart1Container .footerPart1Contact,
  .footer .footerPart1Container .footerPart1Newsletter {
    width: 90%;
    text-align: center;
    font-size: 1.5vh;
    margin-top: 1vh;
  }
  .footer .footerPart1Container .footerPart1Contact p,
  .footer .footerPart1Container .footerPart1Newsletter p {
    padding: 1vh 0;
  }
  .footer .footerPart1Container .footerPart1Contact .newsletterEmail,
  .footer .footerPart1Container .footerPart1Newsletter .newsletterEmail {
    width: 100%;
    height: 4.5vh;
    padding: 0.5vh;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
  }
  .footer .ligne {
    background-color: rgba(237, 237, 237, 0.3);
    height: 0.2vh;
    width: 90%;
    margin: 3vh 0;
  }
  .footer .footerPart2Container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2vh;
  }
}/*# sourceMappingURL=style.css.map */