*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
}

nav {
    display: flex;
    align-items: center;
    padding: 0px 40px;
    background: black;
    justify-content: space-around;


  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    img{
        width: 10vh;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    li {
      a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        padding-bottom: 5px;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          height: 2px;
          width: 0;
          bottom: 0;
          transition: width 0.3s ease;
          margin: auto;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

};

header{
  position: relative; 
  height: 90vh;     
  width: 100%;
  overflow: visible;
  background-size: cover;
  background-position: center;
  background-color: #9DC1CC;
  .divHeader{
    height: 100%;
    overflow: hidden;

    .rond {
        position: relative;
        bottom: -9.5vh;
        left: 50%;
        transform: translateX(-50%);
        width: 90vh;
        height: 90vh;
        background: #ffffff;
        border-radius: 50%;
    }
    h1{
      font-family: "Irish Grover", system-ui;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(0, 0, 0);
      font-size: 18vh;
      text-align: center;
      z-index: 2;
      width: max-content;
    }
    img {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43.5%;
    height: auto;
    object-fit: cover;
    z-index: 3;        
  }
  }
};

.banniere {
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  position: relative; // pour que le texte se déplace
  z-index: 2;


  p {
    display: inline-block;
    position: relative;
    left: 0; // position initiale
    margin: 0;
  }
}

.sectiongenre {
  display: flex;
  gap: 2vh;
  margin: 5vh;
  justify-content: center;


  .sectionFemme, .sectionHomme {
    display: flex;
    gap: 2vh;
  }

  .artFemme, .artHomme {
    border-radius: 1rem;
    overflow: visible; // permet au contenu de dépasser
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      position: relative;
      width: auto;
      height: auto;
      max-width: none;
      max-height: none;
    }
  }

  // Images F1 et F2
  .artFemme:nth-child(1) img {
    top: -71px;
    left: 1rem;
    height: 129%;
    width: auto;
  }
  .artFemme:nth-child(2) img {
    width: auto;
    height: 111%;
    top: -27px;
    left: 0;
  }

  // Images H1 et H2
  .artHomme:nth-child(1) img {
    width: auto;
    top: -24px;
    left: -6rem;
    height: 120%;
  }
  .artHomme:nth-child(2) img {
    width: auto;
    top: 9px;
    left: 83px;
    object-fit: cover;
    height: 132%;
  }
}




.sectiongenre{
  background-color: #0d0d0d;
  display: flex;
  margin-top: 18vh;
  margin-bottom: 5vh;

    .sectionFemme{
      display: flex;
      gap: 2vh;
      margin: 5vh;
      .artFemme{
        background-color: #D9D9D9;
        width: 18rem;
        height: 31rem;
        border-radius: 5vh;
      }
    }
    .sectionHomme{
      display: flex;
      gap: 2vh;
      flex-direction: column;
      margin-top: 5vh;


      .artHomme{
        background-color: #D9D9D9;
        width: 27rem;
        height: 15rem;
        border-radius: 5vh;
      }
    }

}

.collection{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5vh 8vh;
  h2{
    font-size: -webkit-xxx-large;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 3vh;
  }
  .btnP{
    display: flex;
    align-items: center;

    button{
      border: 0.5vh solid black;
      width: 20rem;
      height: 3rem;    
      margin-right: 2vh;
    }
    .button:active {
        transform: scale(0.9) rotate(2deg);
        background: #000000;
        color: #ffffff;
      }
    p{
      font-size: smaller;
    }
  }
  .imgCollection{
    display: flex;
    gap: 2vh;
    article{
      background-color: #D9D9D9;
       width: 12rem;
      height: 15rem;
      background-color: #D9D9D9;
      margin: 5vh 2vh;
      overflow: hidden;

       img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      }
    }
  }
}

.vetement{
  background-color: black;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 5vh;
    align-items: center;
    padding: 0vh 8vh;
  video{
    height: 33rem;
    width: 85rem;
  }
  .videoTextVetement{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    h2{
      font-size: xxx-large;
      width: 51vh;
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;

    }
    p{
      font-family: 'Montserrat Alternates';

    }
  }
}