.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Quand elle est cachée */
.header.hide {
  transform: translateY(-100%);
}
